* {
    margin: 0 ;
    padding: 0
    
}


body {
    padding: 0% 5%;
    display: flex;
    justify-content: center;
    background-image: url(fundo1.png);
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 100VH;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}


.titulodestaque {
    color: #760DF6;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.conteudo__sec1 {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 10px;
}

.conteudo__sec1__titulo {

    font-size: 36px;
}

.conteudo__sec1__texto {

    font-size: 18px;
}



.informacoes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.rodape {
    background-color: blueviolet;
    text-align: center;
    color: black;
    padding: 7px;
    font-size: larger;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.cabecalho {
    background-color: blueviolet;
    text-align: center;
    color: black;
    padding: 7px;
    font-size: larger;
    position: fixed;
    top: 0;
    width: 100%; 
}

.botoesheader{
    
    color: black;
    margin-inline: 5px;
    margin-left: 2rem;
}


